force-app/main/default/flows/Get_Promotion_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>OfferedAnniversaryCustomerData</name>
        <label>OfferedAnniversaryCustomerData</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PromotionRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Promotion_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Promotion_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfferedBirthdayCustomerData</name>
        <label>OfferedBirthdayCustomerData</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PromotionRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Promotion_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Promotion_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfferedOtherCustomerData</name>
        <label>OfferedOtherCustomerData</label>
        <locationX>792</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PromotionRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Promotion_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Promotion_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Promotion_Assigment</name>
        <label>Promotion Assigment</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>promotionRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Promotion_To_Send</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_For_Promotion</name>
        <label>Decision For Promotion</label>
        <locationX>660</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Promotion_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEligibleForBirthdayPromotion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Birthday promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OfferedBirthdayCustomerData</targetReference>
            </connector>
            <label>Birthday</label>
        </rules>
        <rules>
            <name>Anniversary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEligibleForAnniversary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anniversary Dinner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OfferedAnniversaryCustomerData</targetReference>
            </connector>
            <label>Anniversary</label>
        </rules>
        <rules>
            <name>Other_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Birthday promotion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Anniversary Dinner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade to Deluxe Room</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade to an Ocean View Room for $25/night</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Promotion_Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Free Activities/Experiences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEligibleForAnniversary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEligibleForBirthdayPromotion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OfferedOtherCustomerData</targetReference>
            </connector>
            <label>Other Offer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isEligibleForAnniversary</name>
        <dataType>Boolean</dataType>
        <expression>IF( AND(MONTH({!Loop_on_Promotion_Record.Reservation__r.Check_in_Date__c}) = MONTH({!Loop_on_Promotion_Record.Contact__r.Anniversary__c}),DAY({!Loop_on_Promotion_Record.Reservation__r.Check_in_Date__c}) = DAY({!Loop_on_Promotion_Record.Contact__r.Anniversary__c})) , true, false)</expression>
    </formulas>
    <formulas>
        <name>isEligibleForBirthdayPromotion</name>
        <dataType>Boolean</dataType>
        <expression>IF( AND(MONTH({!Loop_on_Promotion_Record.Reservation__r.Check_in_Date__c}) = MONTH({!Loop_on_Promotion_Record.Contact__r.Birthdate}),DAY({!Loop_on_Promotion_Record.Reservation__r.Check_in_Date__c}) = DAY({!Loop_on_Promotion_Record.Contact__r.Birthdate})) , true, false)</expression>
    </formulas>
    <interviewLabel>Get Promotion Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Promotion Details</label>
    <loops>
        <name>Loop_on_Promotion_Record</name>
        <label>Loop on Promotion Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Promotion_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_For_Promotion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Promotion_To_Send</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Final_Promotion_To_Send</name>
        <label>Final Promotion To Send</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promotion_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PromotionRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Details</name>
        <label>Get Promotion Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Promotion_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promotion_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0034W00003ZIRC8QAP</stringValue>
        </value>
    </variables>
    <variables>
        <name>promotionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Promotion</objectType>
    </variables>
    <variables>
        <name>PromotionRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
