force-app/main/default/flows/Get_Product_Details_From_Prompt_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Product_Details_From_Prompt</name>
        <label>Get Product Details From Prompt</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Searching_Hotel</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Question</name>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Searching_Hotel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Product_Details_From_Prompt_For_Pets</name>
        <label>Get Product Details From Prompt For Pets</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>Searching_Hotel_For_Pets</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Publish_Platform_Event_For_Pets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Question</name>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Searching_Hotel_For_Pets</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>DisplayProductList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Hotel_Details_To_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PromptResponse</name>
            <value>
                <elementReference>Get_Product_Details_From_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Question</name>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DisplayProductList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_Platform_Event_For_Pets</name>
        <label>Publish Platform Event For Pets</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>DisplayProductList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Hotel_Details_To_Agent_For_Pets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PromptResponse</name>
            <value>
                <elementReference>Get_Product_Details_From_Prompt_For_Pets.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Question</name>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DisplayProductList</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Send_Hotel_Details_To_Agent</name>
        <label>Send Hotel Details To Agent</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>HotelRecommendations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Details_From_Prompt.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Send_Hotel_Details_To_Agent_For_Pets</name>
        <label>Send Hotel Details To Agent For Pets</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>HotelRecommendations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Details_From_Prompt_For_Pets.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_To_Call_the_Prompt_Builder</name>
        <label>Decision To Call the Prompt Builder</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family_Friendly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>familyfriendly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>family-friendly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>family friendly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>friendly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Details_From_Prompt</targetReference>
            </connector>
            <label>Family Friendly</label>
        </rules>
        <rules>
            <name>Pets_Allow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>allow pets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Details_From_Prompt_For_Pets</targetReference>
            </connector>
            <label>Pets Allow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Product Details From Prompt Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Product Details From Prompt Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_To_Call_the_Prompt_Builder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HotelRecommendations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
