force-app/main/default/flows/Update_Reservation_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Success_Message_For_Floor</name>
        <label>Assign Success Message For Floor</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Reservation_For_Special_Request_Floor</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_Message_For_Floors</name>
        <label>Assign Success Message For Floors</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Reservation_For_Special_Request_For_Floor</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_Message_For_Room_Type_Upgrade</name>
        <label>Assign Success Message For Room Type Upgrade</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Reservation_Record_For_Room_Type</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_Message_For_Upsell</name>
        <label>Assign Success Message For Upsell</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Reservation_For_Special_Request_Floor_With_Upsell</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Based_on_Offer</name>
        <label>Decision Based on Offer</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Room_Upgrade_to_Deluxe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>roomType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>roomType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deluxe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reservation_Record_For_Room_Type</targetReference>
            </connector>
            <label>Room Upgrade to Deluxe</label>
        </rules>
        <rules>
            <name>Room_Upgrade_With_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>upsellType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>upsellType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean/Sea View Room</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_Type</targetReference>
            </connector>
            <label>Room Upgrade With Upsell</label>
        </rules>
        <rules>
            <name>Room_Floor_Preference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>floorType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>floorType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Top Floor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reservation_For_Special_Request_Floor</targetReference>
            </connector>
            <label>Room Floor Preference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upsell_Type</name>
        <label>Upsell Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Reservation_For_Special_Request_For_Floor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ocean_Sea_View_Room_With_High_Floor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>upsellType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean/Sea View Room</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reservation_For_Special_Request_Floor_With_Upsell</targetReference>
            </connector>
            <label>Ocean/Sea View Room With High Floor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Reservation Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reservation_For_Special_Request_Floor</name>
        <label>Update Reservation For Special Request Floor</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_Success_Message_For_Floor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reservationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reservation_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <stringValue>Deluxe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Request__c</field>
            <value>
                <stringValue>Top Floor</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reservation_For_Special_Request_Floor_With_Upsell</name>
        <label>Update Reservation For Special Request Floor With Upsell</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Success_Message_For_Upsell</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reservationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reservation_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <stringValue>Ocean/Sea View Room</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Request__c</field>
            <value>
                <stringValue>Top Floor</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reservation_For_Special_Request_For_Floor</name>
        <label>Update Reservation For Special Request For Floor</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Success_Message_For_Floors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reservationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reservation_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Request__c</field>
            <value>
                <stringValue>Top Floor</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reservation_Record_For_Room_Type</name>
        <label>Update Reservation Record For Room Type</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_Success_Message_For_Room_Type_Upgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reservationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <stringValue>Deluxe</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Based_on_Offer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmReservation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>floorType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>roomType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuccessMessageForFloor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your reservation has been successfully upgraded to a high floor.</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuccessMessageForRoomType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your reservation has been successfully upgraded to a Deluxe room.</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuccessMessageForUpsell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your reservation has been successfully upgraded to a Ocean view room.</stringValue>
        </value>
    </variables>
    <variables>
        <name>upsellType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
